streamlit
pandas
numpy
scikit-learn==1.6.1
xgboost
matplotlib
joblib
openpyxl
aioice
aiortc
altair
attrs
audioop-lts
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dnspython
fonttools
gitdb
GitPython
google-crc32c
idna
ifaddr
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
opencv-python
packaging
pandas
pillow
protobuf
pyarrow
pycparser
pydeck
pydub
pyee
pylibsrtp
pyOpenSSL
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scipy
six
smmap
SpeechRecognition
standard-aifc
standard-chunk
streamlit-audiorec @ git+https://github.com/stefanrmmr/streamlit_audio_recorder@777d18114130137d492c0378a86631fff1ff1be5
streamlit-webrtc
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
xgboost
